{% extends "_baseGolfApp.html" %}

{% block content %}

{% load static %}
<div id="tipsScrollContainer">
<div id="tipFormContainer" class= "bigShadow">

  <div id="tipFormHeader">
    <div id="tipFormIndyText">{{tour_name}}</div>
    <div id="tipFormDescText">Sports Tipping</div>
  </div>

<form method = "POST">
      {% csrf_token %}

<!-- Details -->
  <div id="tipFormAuthContainer">
    <div id="authTopRow">Enter your details</div>
    <div id="rightNameInstructions">
      <div id="tippingUsername">Your name</div>
      <div id="tippingPassword">Your identifier</div>
    </div>
    <div id="leftNameInput">
      <div id="tippingUsernameInput">{{ form.name }}</div>
      <div id="tippingPasswordInput">{{ form.password }}</div>
    </div>
    </div>



  <!--Game 1 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 1</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="chennaiIMG"></div>
        <div id="teamTextContainer">Chennai</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsCricketWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div  id="dateContainer">10/23</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="mumbaiIMG"></div>
        <div id="teamTextContainer">Mumbai</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game1}}</div>
  </div>

  <!--Game 2 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 2</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="BarcelonaIMG"></div>
        <div id="teamTextContainer">Barcelona</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsSoccerWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div  id="dateContainer">10/23</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="realIMG"></div>
        <div id="teamTextContainer">Real Madrid</div>
      </div>
    </div>
    <div class="orangeBorder1" id="submitrow"> {{form.game2}} </div>
  </div>

  <!--Game 3 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 3</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="raysIMG"></div>
        <div id="teamTextContainer">Rays</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsBaseballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/23</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="dodgersIMG"></div>
        <div id="teamTextContainer">Dodgers</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game3 }} </div>
  </div>

  <!--Game 4 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 4</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="auburnIMG"></div>
        <div id="teamTextContainer">Auburn</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsFootballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="oleIMG"></div>
        <div id="teamTextContainer">Ole Miss</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game4}} </div>
  </div>

  <!--Game 5 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 5</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="michiganIMG"></div>
        <div id="teamTextContainer">Michigan</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsFootballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="minnesotaIMG"></div>
        <div id="teamTextContainer">Minnesota</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game5}} </div>
  </div>

  <!--Game 6 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 6</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="iowaIMG"></div>
        <div id="teamTextContainer">Iowa State</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsFootballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="okIMG"></div>
        <div id="teamTextContainer">OK State</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game6}} </div>
  </div>

  <!--Game 7 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 7</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="manuIMG"></div>
        <div id="teamTextContainer">Man United</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsSoccerWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="chelseaIMG"></div>
        <div id="teamTextContainer">Chelsea</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game7 }} </div>
  </div>

  <!--Game 8 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 8</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="franceIMG"></div>
        <div id="teamTextContainer">France</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsFootballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="walesIMG"></div>
        <div id="teamTextContainer">Wales</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game8 }} </div>
  </div>

  <!--Game 9 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 9</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="dodgersIMG"></div>
        <div id="teamTextContainer">Dodgers</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsBaseballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/24</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="raysIMG"></div>
        <div id="teamTextContainer">Rays</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game9 }} </div>
  </div>

  <!--Game 10 -->
  <div id="tipFormContentContainer">
    <div id="toprow">Game 10</div>
    <div id="corerow">
      <div id="leftpanel">
        <div class="teamImgContainer" id="panthersIMG"></div>
        <div id="teamTextContainer">Panthers</div>
      </div>
      <div id="midpanel">
        <img id="sportsIcon" src="{% static 'icons/tipsFootballWhite.svg' %}">
        <div id="vsContainer">VS</div>
        <div id="dateContainer">10/25</div>
      </div>
      <div id="rightpanel">
        <div class="teamImgContainer" id="stormIMG"></div>
        <div id="teamTextContainer">Storm</div>
      </div>
    </div>
    <div id="submitrow"> {{form.game10 }} </div>
  </div>

<div class="bigShadow" id="tipFormSubmitContainer">
  <button id="tipsSubmitButton" type="submit">
    <img id =tipsSubmitIcon src="{% static 'icons/scoreSubmitWhite.svg' %}">
  </button>
</div>

</div>



</form>

</div>


{% endblock %}
